<div class="page-header-menu" ng-init="pageMenu={visible:!1};">
  <span class="button button--cta button--dropdown" ng-click="pageMenu.visible=!pageMenu.visible" pseudo-focus="pageMenu.visible"
    on-pseudo-blur="pageMenu.visible=!1">
    ADD CONTENT
  </span>
  <ul class="page-content-menu__list" ng-hide="!pageMenu.visible">
    <li class="page-content-menu__item">
      <a class="button button--cta button-image" ui-sref="tagging.image({shoppable:null})" ui-sref-opts="{reload:true}">
        <i class="icon icon-image2"></i>
        <span>Shoppable Image</span>
      </a>
    </li>
    <li class="page-content-menu__item">
      <a class="button button--cta button-video" ui-sref="tagging.video({shoppable:null})" ui-sref-opts="{reload:true}">
        <i class="icon icon-video2"></i>
        <span>Shoppable Video</span>
      </a>
    </li>
    <li class="page-content-menu__item">
      <a class="button button--cta button-link" ui-sref="generatelink" ui-sref-opts="{reload:true}">
        <i class="icon icon-link3"></i>
        <span>Shoppable social media link</span>
      </a>
    </li>
  </ul>
</div>
<div class="product-lookup">
	<div class="content">
		<div ng-show="search_panel">
			<div class="title">Find a single product in Monotote by looking for it’s original retailer SKU or product URL.</div>
			<div class="search-fields">
				<div class="sku-search">
					<div class="wrapper-fields">
						<span>SKU</span>
						<div><input type="text" ng-model="product_sku" placeholder="Product SKU"></div>
					</div>
				</div>
				<div class="indicator">
					<span>or</span>
				</div>
				<div class="url-search">
					<div class="wrapper-fields">
						<span>URL</span>
						<div><input type="text" ng-model="product_url" placeholder="Product URL"></div>
					</div>
				</div>
			</div>
			<span class="lookup-button back-button" ng-click="!product_sku && !product_url ? '' : lookup()" ng-disabled = "!product_sku && !product_url">Find product</span>
		</div>
	</div>
</div>