.app-button {
  border: 1px solid $gray-light;
  border-radius: 4px;
  display: inline-block;
  padding: 0 $size-x1;
  color: $gray-darker;
  cursor: pointer;
  font-size: $font-size-x1;
  font-family: $font-family-helvetica;
  position: relative; // for :before icons
  -webkit-font-smoothing: antialiased;
  height: $size-x2;
  line-height: $size-x2;
  white-space: nowrap;
  margin: 0;
  background: $white;
}

.app-button--cancel {
  background-color: transparent;
  border-color: transparent;
  &:hover {
    text-decoration: underline;
  }
}

.app-button-md {
  font-size: $font-size-x2;
  height: $size-x3;
  line-height: $size-x3;
}

.app-button-group {
  margin-top: $size-x2;
}

.app-input-group {
  margin-top: $size-x2;
}

.app-button-file {
}

.app-button[disabled] {
  background-color: $gray-light;
}

.app-input-text {
  width: 100%;
}
