.date-filter {
  padding: 20px 55px 0;

  label {
    width: 40px;
    display: inline-block;
  }
}

.graph-content {
  position: relative;
  padding: 0 50px;
  svg {
    background-color: $white;
  }
}

.graph-labels {
  padding: 12px;
}
.graph-labels ul {
  list-style-type: none;
}

.graph-labels ul li {
  display: inline-block;
  width: 250px;
  height: 25px;
  overflow: hidden;
  margin-right: 5px;

  label {
    font-size: 14px;
  }
}

.graph-label-color {
  height: 24px;
  width: 24px;
  padding: 2px 3px;
  display: block;
  border-radius: 4px;
  float: left;
  margin-right: 5px;
}

.line {
  fill: none;
  stroke-width: 1.25px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis .tick line {
  fill: none;
  stroke: $gray-middle;
}

.x.axis .tick line {
  fill: none;
  stroke: $gray-middle;
}

.y.axis .tick line {
  fill: none;
  stroke: $gray;
  stroke-width: 1px;
  stroke-dasharray: 2,2;
}

.axis text {
  width: 42px;
  color: $gray-middle;
  cursor: default;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  fill: $gray-middle;
}

.axis .domain {
  fill: none;
  stroke: $gray-middle;
  shape-rendering: crispEdges;
}

.dot {
  stroke: $white;
  stroke-width: 2px;
}

.focus {
}

.focus rect {
  fill: #fffce7;
  fill-opacity: 0.85;
}

.focus text {
  alignment-baseline:"middle";
  text-anchor:"middle";
  color: #000;
  font-size: 16px;
  fill: #fff;
}

.graph-datapoint-info {
  position: absolute;
  width: 180px;
  min-height: 24px;
  max-height: 200px;
  background-color: rgba(255,255,255,0.9);
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  display: none;
  background-clip: padding-box;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-top: -72px;
  margin-left: 20px;
  margin-right: 20px;

  .spec-title {
    font-weight: bold;
  }

  .spec-date {
    font-size: 75%;
  }

  .spec-value {
    font-size: 90%;
    font-weight: bold;
  }
}
