<div class="product-browser">
    <header class="product-browser__header">
        <div class="product-browser__container">
            <div class="product-browser__logo">
                <i class="icon icon-monotote"></i> <em class="tagline">Product Browser</em>
            </div>
            <div class="product-browser__close" ng-click="closeThisDialog()">
                Close product browser <i class="icon icon-close"></i>
            </div>
        </div>
    </header>
    <div ng-include="template"></div>
</div>
