.overlay {
    &:before {
        background: rgba($black, .8);
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1000;
    }
}

.overlay__content {
    z-index: 1005;
    position: absolute;
    width: 100%;
}
