$white: #FFF;
$black: #000;
// $grey: #f2f2f2;
$grey: #eeeeee;
$grey-text-color: #727272;
$grey-alt: #9e9e9e;
$color-border: #d4d4d4;
$color-border-light: #e9e9e9;

$text-color-light: #9e9e9e;

$color-alpha: #64cdcd;
$color-alpha-darken: darken($color-alpha, 5);
$color-alpha-hover: darken($color-alpha, 10);
$color-bravo: #ff5800;
$color-charlie: #c8c8c8; // greyish
$color-delta: #5fd278;
$color-echo: #afafaf; // "From Zalando"
$color-foxtrot: #d9534f;

$nano-color: #C9C9C9;

$droplets : #c5c5c5, #ff5800, #63cecf, #1d1d1b, #ffc800, #5fd278, #eeeeee;
$droplet-types: 1,2,3;

// Product browser
$product-browser__link: #666;
$product-browser__border: $color-border;

// contextual classes (from bootstrap)
$color-default: #777;
$color-primary: #337ab7;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

.default{color: $color-default;}
.primary{color: $color-primary;}
.success{color: $color-success;}
.info{color: $color-info;}
.warning{color: $color-warning;}
.danger{color: $color-danger;}
