.colors {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    @include clearfix;
    li {
        line-height: rem(22);
        font-size: rem(9);
        font-family: $font-bold;
        display: block;
        margin-top: rem(-5);
        margin-bottom: rem(-5);
        margin-right: rem(5);
    }
}
