.wizard__frame .droplet {
  margin-top: -22px;
  margin-left: -18px;
}

.app-hotspot {
  margin-left: -42px;
  margin-top: -42px;
  position: absolute;
  z-index: 200;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app-hotspot:hover {
  z-index: 300;
}

.app-hotspot a {
  width: 40px;
  height: 40px;
  margin: 20px;
  background: rgba(70, 39, 73, 0.24);
  border-radius: 50%;
  border: 2px dashed #FFF;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px -2px #443031;
  box-shadow: 0 0 10px -2px #443031;
  transition: all 0.3s ease;
  display: block;
  color: #FFF;
  position: relative;
  text-align: center;
  line-height: 40px;
}

.app-hotspot a:before {
  font-family: $icomoon;
  content: "\ed5a";
  font-size: 18px;
}

.app-hotspot a:hover {
  transform: rotate(90deg);
}

.hotspot-type-selection {
  text-align: left;
  padding: 0 0 5px 50px;
  font-size: 15px;
}