<section class="profile__item profile__box">

    <h2 class="profile__title"></h2>
    <div class="profile__content">

        <dl class="profile__form">
            <dt ng-if="!profile.firstTime"><label for="oldpassword">Old password</label></dt>
            <dd ng-if="!profile.firstTime">
                <input type="password" id="oldpassword" name="oldpassword" ng-model="profile.oldPassword" placeholder="Enter your old password" required>
                <span ng-show="profileForm.$submitted">
                    <p class="profile__form-error" ng-show="profileForm.oldpassword.$error.required">Please enter your old password.</p>
                </span>
            </dd>

            <dt><label for="oldpassword">New password</label></dt>
            <dd>
                <input type="password" id="newpassword" name="newpassword" ng-model="profile.newPassword" placeholder="Enter your new password" required>
                <span ng-show="profileForm.$submitted">
                    <p class="profile__form-error" ng-show="profileForm.newpassword.$error.required">Please enter your new password.</p>
                </span>
            </dd>

            <dt><label for="oldpassword">Repeat the password</label></dt>
            <dd>
                <input type="password" id="repeatpassword" name="repeatpassword" ng-model="profile.repeatPassword" placeholder="Repeat the password" required>
                <span ng-show="profileForm.$submitted">
                    <p class="profile__form-error" ng-show="profileForm.repeatpassword.$error.required">Please repeat the password.</p>
                    <p class="profile__form-error" ng-show="profileForm.repeatpassword.$valid && profile.repeatPassword !== profile.newPassword">Passwords don't match.</p>
                </span>
            </dd>
        </dl>
    </div>
</section>
