<div class='spinner-overlay'>
    <div class="loader">
        <svg class="circular-loader" viewBox="25 25 50 50">
            <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke="#000" stroke-width="2"></circle>
        </svg>
        <svg class="circular-loader-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="14px" viewBox="0 0 67.5 28.7" style="enable-background:new 0 0 67.5 28.7;" xml:space="preserve">
            <path fill="#000" d="M55.6,18C53,7,44.2,0.4,33.8,0.4C23.3,0.4,14.5,7,11.9,18H0.3v10h11.1h5h2.3c-0.2,0-0.3-2-0.3-3.2
    c0-9.1,6.9-16.3,15.4-16.3s15.4,7.2,15.4,16.2c0,1.2-0.1,3.2-0.3,3.2h0.8h6.4h11.1V18H55.6z"></path>
        </svg>
    </div>
</div>

